.projects-container{
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects-container .screen-heading{
    color: #FFFFFF;
}

.projects-container .screen-sub-heading{
    color: #FFFFFF;
}

.custom-shape-divider-top-1646244470 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1646244470 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1646244470 .shape-fill {
    fill: #FFFFFF;
}