.projects-container{
    /*background-color: rgb(42, 49, 56);*/
    background: #6e89ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6e89ff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6e89ff, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 80px;
}

.custom-shape-divider-top-1646244470 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1646244470 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1646244470 .shape-fill {
    fill: #FFFFFF;
}