.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    font-family: "Poppins Regular";
}
.about-me-parent {
    max-width: 1000px;
    width: 70%;
}